# dependencies
node_modules
.pnp.js

# testing
/website/coverage

# next.js
/website/.next/
/website/out/

# production
build

# misc
.DS_Store
*.pem

#subgraph
/subgraph/generated

# debug
/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
/website/.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
/website/.vercel

